<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TV Remote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/css/app.css">
	<script src="/js/app.js" async></script>
</head>
<body>
	<div class="row">
		<div class="column small-12">
			<button class="button large expanded" data-cec-action="toggle-power" data-cec-get="power-status">Power</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-cec-action="set-hdmi-1">HDMI 1</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-cec-action="set-hdmi-2">HDMI 2</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-cec-action="set-hdmi-3">HDMI 3</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-cec-action="set-hdmi-4">HDMI 4</button>
		</div>
	</div>
</body>
</html>