<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TV Remote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/css/app.css">
	<script src="/js/app.js" async></script>
</head>
<body>
	<div class="row">
		<div class="column small-12">
			<button class="button large expanded" data-js-hook="power-button">
				Power <span class="power-status" data-js-hook="power-status"></span>
			</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-js-hook="hdmi" data-hdmir-address="1.0.0.0">HDMI 1</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-js-hook="hdmi" data-hdmir-address="2.0.0.0">HDMI 2</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-js-hook="hdmi" data-hdmir-address="3.0.0.0">HDMI 3</button>
		</div>

		<div class="column small-6">
			<button class="button large expanded" data-js-hook="hdmi" data-hdmir-address="4.0.0.0">HDMI 4</button>
		</div>
	</div>
</body>
</html>