<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TV Remote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="TV Remote">

	<link rel="apple-touch-icon" href="/assets/favicon.ico">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/appIcon-152">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/appIcon-180.ico">
	<link rel="apple-touch-icon" sizes="167x167" href="/assets/appIcon-167.ico">

	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="/css/app.css">
	<script src="/js/app.js" async></script>
</head>
<body>
	<div class="row">
		<div class="column small-12">
			<button class="button large expanded" data-js-hook="power-button">
				Power <span class="power-status" data-js-hook="power-status"></span>
			</button>
		</div>

		<div class="column small-6">
			<button class="button medium expanded" data-js-hook="hdmi" data-hdmi-address="1">HDMI 1</button>
		</div>

		<div class="column small-6">
			<button class="button medium expanded" data-js-hook="hdmi" data-hdmi-address="2">HDMI 2</button>
		</div>

		<div class="column small-6">
			<button class="button medium expanded" data-js-hook="hdmi" data-hdmi-address="3">HDMI 3</button>
		</div>

		<div class="column small-6">
			<button class="button medium expanded" data-js-hook="hdmi" data-hdmi-address="4">HDMI 4</button>
		</div>
	</div>
</body>
</html>